$CompScreenWidth : 800px;
$CompScreenHeight : 500px;

#Container.Compatible {
	width: $CompScreenWidth;
	height: $CompScreenHeight;
}

#Compatible {
	display: none;
	width: 0px;
	height: 0px;
	background-color: $white;
	opacity: 0;
}

#Compatible.Visible {
	display: block;
	width: $CompScreenWidth;
	height: $CompScreenHeight;
	background-color: $white;
	opacity: 0;
}

#Compatible #Title {
	position: absolute;
	@include TitleText;
	text-align: center;
	color: $black;
	left: 0px;
	width: 100%;
	top: 10px;
}

#Compatible #SubText {
	font-size: 15px;
	line-height: 16px;
	text-align: center;
	color: #999;
	position: absolute;
	left: 0px;
	width: 100%;
	top: 50px;
}

#Compatible .Button {
	position: absolute;
	-webkit-transform: translate(-50%, 0%);
	left: 50%;
	bottom: 20px;
}

#Container.Compatible #Playlist {
	width: 100%;
	height: 300px;
	position: absolute;
	top: 100px;
	left: 0px;	
	background-color: $black;
}

#Container.Compatible #Playlist #Scroller{
	position: absolute;
	width: 70%;
	height: 100%;
	left: 30%;	
	top: 0px;
}

#Container.Compatible #Playlist #Scroller .Song{
	pointer-events: none;
}


#Container.Compatible #Playlist #Songs #Artist{
	margin-left: 0px;
}

#Container.Compatible #Playlist #PlayerLabels {
	top: 260px;
	left: 20px;
	position: absolute;
	width: 100%;
	height: $PlayerLabelSize;
	opacity: 1;
	@include OpacityTransition;
}

$CompatibleAvatarSize : 150px;

#Compatible .Avatar {
	position: absolute;
	width: $CompatibleAvatarSize;
	height: $CompatibleAvatarSize;
	background-size: 150% auto;
	background-position: 61% 5%;
	z-index: 1000;
	border-radius: 50%;
}

#Compatible #Avatar0 {
	top: 10px;
	left: 5px;
}

#Compatible #Avatar1 {
	top: 115px;
	left: 65px;
}		

#Compatible .Avatar.A {
	background-image: url("../images/A.png");
}

#Compatible .Avatar.B {
	background-image: url("../images/B.png");
}

#Compatible .Avatar.C {
	background-image: url("../images/C.png");
}

#Compatible #Check {
	position: absolute;
	z-index: 1000;
	background-image: url("../images/checkbox.png");
	background-size: 100% 100%;
	width: 60px;
	height: 60px;
	top: 75px;
	left: 145px;
}


/*=============================================================================
	INCOMPATIBLE
=============================================================================*/

$IncompScreenWidth : 360px;
$IncompScreenHeight : 250px;

#Container.Incompatible {
	width: $IncompScreenWidth;
	height: $IncompScreenHeight;
	background-color: $white;
}

#Incompatible {
	width: $IncompScreenWidth;
	height: $IncompScreenHeight;
	color: black;
	display: none;
}

#Incompatible.Visible {
	width: $IncompScreenWidth;
	height: $IncompScreenHeight;
	color: black;
	display: block;
}



#Incompatible #Title {
	position: absolute;
	@include TitleText;
	text-align: center;
	color: $black;
	left: 0px;
	width: 100%;
	top: 20px;
}

#Incompatible #SubText {
	font-size: 15px;
	line-height: 16px;
	text-align: center;
	color: #999;
	position: absolute;
	left: 10%;
	width: 80%;
	top: 75px;
	line-height: 20px;
}

#Incompatible .Button {
	position: absolute;
	-webkit-transform: translate(-50%, 0%);
	left: 50%;
	bottom: 20px;
}