$DancingHeight : 650px;
$DancingWidth : 1000px;
$DancingScreenMargin : 20px;
$BlockerBackground : transparent;
$SongPanelWidth : 400px;
$TabTitleHeight : 35px;
$ClockSize : 70px;


@mixin OpacityTransition {
	-webkit-transition : opacity .3s;
	transition : opacity .3s;
}

#Container.Dancing {
	width: $DancingWidth;
	height: $DancingHeight;
}

#Dancing {
	display: none;
	width: $DancingWidth;
	height: $DancingHeight;
	opacity: 0;
}

#Dancing.Visible {
	display: block;
	width: $DancingWidth;
	height: $DancingHeight;
	opacity: 0;
}


#Dancing #DanceArena {
	height: 100%;
	width: $DancingWidth - $SongPanelWidth;
	background-color: $gray;
	position: absolute;
	left: 0px;
	top: 0px;
}

#Dancing #SongPanel {
	width: $SongPanelWidth;
	height: 100%;
	background-color: $black;
	position: absolute;
	right: 0px;
	top: 0px;
}

/*=============================================================================
	SongSelection
=============================================================================*/

#SongPanel #SongSelection {
	height: 270px;
	position: relative;
	background-color: $black;
	margin-top: $DancingScreenMargin;
	margin-left: $DancingScreenMargin;
	width: calc(100% - #{$DancingScreenMargin} * 2);
}


#SongPanel #SongSelection #Scroller{
	top: $TabTitleHeight*2;
}

#SongPanel #SongSelection .Tab{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}


#SongPanel #SongSelection #Title{
	width: calc(100% / 3);
	height: $TabTitleHeight;
	line-height: $TabTitleHeight;
	position: absolute;
	top: 0px;
	background-color: $black;
	border-bottom: 1px solid $lightgray;
	color: $white;
	font-size: 15px;
	font-weight: 300;
	text-align: center;
	z-index: 10;
	cursor: pointer;
}

#SongPanel #SongSelection #Title:active{
	background-color: $lightgray;
	color: $black;
}

#SongPanel #SongSelection .Selected #Title{
	color: $green;
	background-color: $gray;
}

#SongPanel #SongSelection #Instructions{
	width: 100%;
	position: absolute;
	top: $TabTitleHeight;
	left: 0px;
	height: $TabTitleHeight;
	line-height: $TabTitleHeight;
	text-align: center;
	color: $lightgray;
}

#SongPanel #SongSelection .Selected #Scroller{
	z-index: 1;
}


#SongPanel #SongSelection #Songs .Song:hover{
	background-color: $gray;
}

#SongPanel #SongSelection #Songs .Song:active:hover{
	background-color: $lightgray;
	color: $black;
}

#SongPanel #SongSelection #HipHop #Title{
	left: calc(100% / 3)
}

#SongPanel #SongSelection #Pop #Title{
	left: 0px;
}

#SongPanel #SongSelection #EDM #Title{
	left: calc(200% / 3)
}


/*=============================================================================
	SHARED PLAYLIST + SONG SELECTION
=============================================================================*/

#Scroller{
	width: 100%;
	position: absolute;
	line-height: $TabTitleHeight;
	left: 0px;
	overflow-y: scroll;
	height: calc(100% - #{$TabTitleHeight} * 2);
	background-color: $black;
	z-index: 0;
}

#Songs{
	position: relative;
	height: auto;
	width: 100%;
	overflow: hidden;
	color: $white;
}

#Songs #Track{
	width: auto;
	height: 100%;
	margin-left: 10px;
	display: inline-block;
	font-weight: 300;
}

#Songs #Artist{
	width: auto;
	display: inline-block;
	height: 100%;
	margin-left: 0px;
	margin-right: 10px;
}

#Songs .Song{
	position: relative;
	height: $TabTitleHeight;
	border-bottom: 1px solid $lightgray;
	width: 100%;
	cursor: pointer;
}

#Scroller::-webkit-scrollbar {
    width: 12px;
}
 
#Scroller::-webkit-scrollbar-track {
    background-color: $gray;
}
 
#Scroller::-webkit-scrollbar-thumb {
    border-radius: 5px;
    width: 10px;
    background-color: $green;
}

/*=============================================================================
	PLAYLIST
=============================================================================*/

#SongPanel #Playlist {
	height: $TabTitleHeight * 4 + 4px;
	position: relative;
	background-color: $black;
	margin-top: $DancingScreenMargin * 2;
	margin-left: $DancingScreenMargin;
	width: calc(100% - #{$DancingScreenMargin} * 2);
}

#SongPanel #Playlist #Scroller{
	top: $TabTitleHeight;
	height: calc(100% - #{$TabTitleHeight});
}

#SongPanel #Playlist #Title{
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	height: $TabTitleHeight;
	line-height: $TabTitleHeight;
	text-align: center;
	color: $lightgray;
}

#Playlist #Songs #Artist{
	width: auto;
	display: inline-block;
	height: 100%;
	margin-left: 35px;
	margin-right: 10px;
}

#SongPanel #Playlist .Song #Thumb{
	position: absolute;
	width: $TabTitleHeight;
	height: 100%;
}

#SongPanel #Playlist #Songs .Song{
	pointer-events: none;
}

#Playlist .Song.Odd{
	color: $red;
}

#Playlist .Song.Even{
	color: $blue;
}

#Playlist .Song.Odd.up #Thumb{
	background: url("../images/red_up.png");
}

#Playlist .Song.Odd.down #Thumb{
	background: url("../images/red_down.png");
}

#Playlist .Song.Even.up #Thumb{
	background: url("../images/blue_up.png");
}

#Playlist .Song.Even.down #Thumb{
	background: url("../images/blue_down.png");
}

#SongPanel #Playlist .Song.up #Thumb{
	background-size: 70% auto;
	background-position: 50% 30%;
	background-repeat: no-repeat;
}

#SongPanel #Playlist .Song.down #Thumb{
	background-size: 70% auto;
	background-position: 50% 30%;
	background-repeat: no-repeat;
}

$PlayerLabelSize : 20px;

#Playlist #PlayerLabels {
	top: calc(100% + 10px);
	left: 0px;
	position: absolute;
	width: 100%;
	height: $PlayerLabelSize;
	opacity: 0;
	@include OpacityTransition;
}

#Playlist #PlayerLabels.Visible {
	opacity: 1;
	@include OpacityTransition;	
}

#Playlist .PlayerLabel:before{
	width: $PlayerLabelSize;
	height: $PlayerLabelSize;
	content: "";
	position: relative;
	margin-right: 5px;
	float: left;
}

#Playlist .PlayerLabel{
	width: auto;
	margin-left: 20px;
	height: $PlayerLabelSize;
	font-size: 16px;
	line-height: $PlayerLabelSize;
	text-align: left;
	position: relative;
	float: left;
}

#Playlist #Label0{
	color: $red;
}

#Playlist #Label0:before{
	background-color: $red;
}

#Playlist #Label1{
	color: $blue;
}

#Playlist #Label1:before{
	background-color: $blue;
}

/*=============================================================================
	SPOTIFY PLAYER
=============================================================================*/

#SpotifyPlayer {
	position: absolute;
	bottom: $DancingScreenMargin;
	right: $DancingScreenMargin;
	background-color: $black;
	border-radius: 5px;
	text-align: center;
	z-index: 100;
}

#SpotifyPlayer #Blocker{
	position: absolute;
	top: 0px;
	left: 0px;
	line-height: 80px;
	width: 100%;
	text-align: center;
	color: $lightgray;
}


/*=============================================================================
	THUMBS UP/DOWN
=============================================================================*/

$ThumbWidth : 64px;
$ThumbHeight : 80px;

#Thumbs{
	position: absolute;
	left: $DancingScreenMargin;
	bottom: $DancingScreenMargin;
	width: $ThumbWidth * 2;
	height: $ThumbHeight; 
	background-color: $green;
	border-radius: 5px;
}

#Thumbs div {
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0px;
	cursor: pointer;
}

#Thumbs div:active {
	background-color: $gray;
}

#Thumbs #Up {
	left: 0px;
	background: url("../images/Up_0.png");
	background-size: 80% auto!important;
	background-position: 50% 50%!important;
	background-repeat: no-repeat!important;
}

#Thumbs #Down {
	right: 0px;
	background: url("../images/Down_0.png");
	background-size: 80% auto!important;
	background-position: 50% 50%!important;
	background-repeat: no-repeat!important;
}

/*=============================================================================
	PLAYER TEXT
=============================================================================*/

#PlayerText {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: $DancingHeight;
	text-align: center;
	color: $white;
	background-color: $BlockerBackground;
	font-size: 18px;
	z-index: 10;
	opacity: 0;
	@include OpacityTransition;
	pointer-events: none;
}

#PlayerText #Text{
	position: absolute;
	top: 0px;
	left: 50%;
	width: 400px;
	height: 100px;
	margin-left: -200px;
	margin-top: 25px;
	text-align: center;
	color: $white;
	font-size: 18px;
	line-height: 40px;
}

#PlayerText.Visible {
	opacity: 1;
	@include OpacityTransition;
	pointer-events: inherit;
}

#PlayerBlocker {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 10;
	background-color: $BlockerBackground;
	opacity: 0;
	@include OpacityTransition;
	pointer-events: none;
}

#PlayerBlocker.Visible {
	opacity: 1;
	@include OpacityTransition;
	pointer-events: inherit;
}

/*=============================================================================
	VIDEO
=============================================================================*/

#VideoArena {
	position: absolute;
	top: $DancingScreenMargin;
	left: $DancingScreenMargin;
	width: calc(100% - #{$DancingScreenMargin} * 2);
	height: calc(100% - #{$DancingScreenMargin} * 3 - #{$ThumbHeight});
	clip: rect(90px,600px,420px,0px);
}

#VideoArena  video{
	position: absolute;
	width: 100%;
	height: auto;
	top: 50%;
	opacity: 0;
	-webkit-transform: translate(0, -50%);
}

#VideoArena  video.Visible{
	opacity: 1;
}

/*=============================================================================
	CLOCK
=============================================================================*/

#Clock {
	position: absolute;
	bottom: $DancingScreenMargin + 20px;
	right: $DancingScreenMargin;
	width: $ClockSize;
	height: $ClockSize;
}

#Clock #Face{
	background: url("../images/clock_face.png");
	background-size: 100% 100%;
	position: absolute;
	height: 100%;
	width: 100%;
}

#Clock #Hand{
	background: url("../images/clock_hand.png");
	background-size: 100% 100%;
	position: absolute;
	height: 100%;
	width: 100%;
	-webkit-transform: rotate(15deg);
	transform: rotate(15deg);
}

#Clock #Hand.Rotate{
	-webkit-transform: rotate(375deg);
	transform: rotate(375deg);
	-webkit-transition: -webkit-transform 10s linear;
	transition: transform 10s linear;
}

#Clock #Time{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 100%;
	line-height: 20px;
	font-size: 12px;
	text-align: center;
	color: $green;
}
