.Button {
  width: 300px;
  height: 50px;
  color: white;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  border-radius: 8px;
  background: #83bc3b;
  border: 1px solid #aaaaaa;
  cursor: pointer; }

.Button:active {
  color: #83bc3b;
  background: white;
  border-color: black; }

.Screen {
  opacity: 0; }

#TopBar {
  position: fixed;
  height: 70px;
  width: 100%;
  background-color: black; }

#TopBar #Logo {
  position: absolute;
  left: 50px;
  top: 0px;
  background: url("../images/logo.png");
  background-size: auto 60%;
  width: 400px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center; }

#TopBar #Spotify {
  background: url("../images/spotify-logo.jpg");
  position: absolute;
  right: 50px;
  top: 0px;
  background-size: auto 60%;
  width: 200px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center; }

#Container {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: black;
  border-radius: 10px;
  width: 400px;
  height: 80px;
  border: 7px solid rgba(0, 0, 0, 0.35);
  overflow: hidden;
  left: 50%;
  top: calc(50% + 35px);
  -webkit-transition: width 0.5s, height 0.5s;
  /** 
  for a transparent border
  http://css-tricks.com/transparent-borders-with-background-clip/
  */
  -moz-background-clip: border;
  /* Firefox 3.6 */
  -webkit-background-clip: border;
  /* Safari 4? Chrome 6? */
  background-clip: border-box;
  /* Firefox 4, Safari 5, Opera 10, IE 9 */
  -moz-background-clip: padding;
  /* Firefox 3.6 */
  -webkit-background-clip: padding;
  /* Safari 4? Chrome 6? */
  background-clip: padding-box;
  /* Firefox 4, Safari 5, Opera 10, IE 9 */
  -moz-background-clip: content;
  /* Firefox 3.6 */
  -webkit-background-clip: content;
  /* Safari 4? Chrome 6? */
  background-clip: content-box;
  /* Firefox 4, Safari 5, Opera 10, IE 9 */ }

a {
  text-decoration: none;
  color: #83bc3b; }

a:visited {
  text-decoration: none;
  color: #83bc3b; }

a:hover {
  text-decoration: none;
  color: white; }

#Container.Loading {
  width: 400px;
  height: 80px; }

#Loading {
  position: absolute;
  display: none;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 20%;
  background-color: #83bc3b; }

#Loading.Visible {
  position: absolute;
  display: block;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 20%;
  background-color: #83bc3b; }

#Container.Launch {
  width: 360px;
  height: 300px; }

#Container.Launch #Launch {
  -webkit-transition: opacity .4s; }

#Launch {
  width: 0px;
  height: 0px;
  color: white;
  opacity: 0;
  display: none; }

#Launch.Visible {
  width: 360px;
  height: 300px;
  color: white;
  display: block;
  opacity: 0; }

#Launch #Text {
  text-align: center;
  font-family: "Muli", sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 36px;
  position: absolute;
  left: 0px;
  top: 20px;
  width: 100%;
  height: 40px; }

#Launch #SubText {
  position: absolute;
  left: 0px;
  text-align: center;
  top: 60px;
  width: 100%;
  height: 40px;
  font-size: 12px; }

#Launch #DontHave {
  position: absolute;
  left: 10%;
  bottom: 10px;
  width: 80%;
  height: 40px;
  text-align: center; }

#Launch .Button {
  -webkit-transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute; }

#Container.Dancing {
  width: 1000px;
  height: 650px; }

#Dancing {
  display: none;
  width: 1000px;
  height: 650px;
  opacity: 0; }

#Dancing.Visible {
  display: block;
  width: 1000px;
  height: 650px;
  opacity: 0; }

#Dancing #DanceArena {
  height: 100%;
  width: 600px;
  background-color: #232428;
  position: absolute;
  left: 0px;
  top: 0px; }

#Dancing #SongPanel {
  width: 400px;
  height: 100%;
  background-color: black;
  position: absolute;
  right: 0px;
  top: 0px; }

/*=============================================================================
	SongSelection
=============================================================================*/
#SongPanel #SongSelection {
  height: 270px;
  position: relative;
  background-color: black;
  margin-top: 20px;
  margin-left: 20px;
  width: calc(100% - 20px * 2); }

#SongPanel #SongSelection #Scroller {
  top: 70px; }

#SongPanel #SongSelection .Tab {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px; }

#SongPanel #SongSelection #Title {
  width: calc(100% / 3);
  height: 35px;
  line-height: 35px;
  position: absolute;
  top: 0px;
  background-color: black;
  border-bottom: 1px solid #aaaaaa;
  color: white;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  z-index: 10;
  cursor: pointer; }

#SongPanel #SongSelection #Title:active {
  background-color: #aaaaaa;
  color: black; }

#SongPanel #SongSelection .Selected #Title {
  color: #83bc3b;
  background-color: #232428; }

#SongPanel #SongSelection #Instructions {
  width: 100%;
  position: absolute;
  top: 35px;
  left: 0px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #aaaaaa; }

#SongPanel #SongSelection .Selected #Scroller {
  z-index: 1; }

#SongPanel #SongSelection #Songs .Song:hover {
  background-color: #232428; }

#SongPanel #SongSelection #Songs .Song:active:hover {
  background-color: #aaaaaa;
  color: black; }

#SongPanel #SongSelection #HipHop #Title {
  left: calc(100% / 3); }

#SongPanel #SongSelection #Pop #Title {
  left: 0px; }

#SongPanel #SongSelection #EDM #Title {
  left: calc(200% / 3); }

/*=============================================================================
	SHARED PLAYLIST + SONG SELECTION
=============================================================================*/
#Scroller {
  width: 100%;
  position: absolute;
  line-height: 35px;
  left: 0px;
  overflow-y: scroll;
  height: calc(100% - 35px * 2);
  background-color: black;
  z-index: 0; }

#Songs {
  position: relative;
  height: auto;
  width: 100%;
  overflow: hidden;
  color: white; }

#Songs #Track {
  width: auto;
  height: 100%;
  margin-left: 10px;
  display: inline-block;
  font-weight: 300; }

#Songs #Artist {
  width: auto;
  display: inline-block;
  height: 100%;
  margin-left: 0px;
  margin-right: 10px; }

#Songs .Song {
  position: relative;
  height: 35px;
  border-bottom: 1px solid #aaaaaa;
  width: 100%;
  cursor: pointer; }

#Scroller::-webkit-scrollbar {
  width: 12px; }

#Scroller::-webkit-scrollbar-track {
  background-color: #232428; }

#Scroller::-webkit-scrollbar-thumb {
  border-radius: 5px;
  width: 10px;
  background-color: #83bc3b; }

/*=============================================================================
	PLAYLIST
=============================================================================*/
#SongPanel #Playlist {
  height: 144px;
  position: relative;
  background-color: black;
  margin-top: 40px;
  margin-left: 20px;
  width: calc(100% - 20px * 2); }

#SongPanel #Playlist #Scroller {
  top: 35px;
  height: calc(100% - 35px); }

#SongPanel #Playlist #Title {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #aaaaaa; }

#Playlist #Songs #Artist {
  width: auto;
  display: inline-block;
  height: 100%;
  margin-left: 35px;
  margin-right: 10px; }

#SongPanel #Playlist .Song #Thumb {
  position: absolute;
  width: 35px;
  height: 100%; }

#SongPanel #Playlist #Songs .Song {
  pointer-events: none; }

#Playlist .Song.Odd {
  color: #e50036; }

#Playlist .Song.Even {
  color: #5facc5; }

#Playlist .Song.Odd.up #Thumb {
  background: url("../images/red_up.png"); }

#Playlist .Song.Odd.down #Thumb {
  background: url("../images/red_down.png"); }

#Playlist .Song.Even.up #Thumb {
  background: url("../images/blue_up.png"); }

#Playlist .Song.Even.down #Thumb {
  background: url("../images/blue_down.png"); }

#SongPanel #Playlist .Song.up #Thumb {
  background-size: 70% auto;
  background-position: 50% 30%;
  background-repeat: no-repeat; }

#SongPanel #Playlist .Song.down #Thumb {
  background-size: 70% auto;
  background-position: 50% 30%;
  background-repeat: no-repeat; }

#Playlist #PlayerLabels {
  top: calc(100% + 10px);
  left: 0px;
  position: absolute;
  width: 100%;
  height: 20px;
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s; }

#Playlist #PlayerLabels.Visible {
  opacity: 1;
  -webkit-transition: opacity .3s;
  transition: opacity .3s; }

#Playlist .PlayerLabel:before {
  width: 20px;
  height: 20px;
  content: "";
  position: relative;
  margin-right: 5px;
  float: left; }

#Playlist .PlayerLabel {
  width: auto;
  margin-left: 20px;
  height: 20px;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  position: relative;
  float: left; }

#Playlist #Label0 {
  color: #e50036; }

#Playlist #Label0:before {
  background-color: #e50036; }

#Playlist #Label1 {
  color: #5facc5; }

#Playlist #Label1:before {
  background-color: #5facc5; }

/*=============================================================================
	SPOTIFY PLAYER
=============================================================================*/
#SpotifyPlayer {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  border-radius: 5px;
  text-align: center;
  z-index: 100; }

#SpotifyPlayer #Blocker {
  position: absolute;
  top: 0px;
  left: 0px;
  line-height: 80px;
  width: 100%;
  text-align: center;
  color: #aaaaaa; }

/*=============================================================================
	THUMBS UP/DOWN
=============================================================================*/
#Thumbs {
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 128px;
  height: 80px;
  background-color: #83bc3b;
  border-radius: 5px; }

#Thumbs div {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0px;
  cursor: pointer; }

#Thumbs div:active {
  background-color: #232428; }

#Thumbs #Up {
  left: 0px;
  background: url("../images/Up_0.png");
  background-size: 80% auto !important;
  background-position: 50% 50% !important;
  background-repeat: no-repeat !important; }

#Thumbs #Down {
  right: 0px;
  background: url("../images/Down_0.png");
  background-size: 80% auto !important;
  background-position: 50% 50% !important;
  background-repeat: no-repeat !important; }

/*=============================================================================
	PLAYER TEXT
=============================================================================*/
#PlayerText {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 650px;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
  z-index: 10;
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  pointer-events: none; }

#PlayerText #Text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 100px;
  margin-left: -200px;
  margin-top: -50px;
  text-align: center;
  color: white;
  font-size: 18px;
  line-height: 40px; }

#PlayerText.Visible {
  opacity: 1;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  pointer-events: inherit; }

#PlayerBlocker {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  pointer-events: none; }

#PlayerBlocker.Visible {
  opacity: 1;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  pointer-events: inherit; }

/*=============================================================================
	VIDEO
=============================================================================*/
#VideoArena {
  position: absolute;
  top: 20px;
  left: 20px;
  width: calc(100% - 20px * 2);
  height: calc(100% - 20px * 3 - 80px); }

#VideoArena video {
  position: absolute;
  width: 100%;
  height: auto;
  top: 50%;
  opacity: 0;
  -webkit-transform: translate(0, -50%); }

#VideoArena video.Visible {
  opacity: 1; }

/*=============================================================================
	CLOCK
=============================================================================*/
#Clock {
  position: absolute;
  bottom: 40px;
  right: 20px;
  width: 70px;
  height: 70px; }

#Clock #Face {
  background: url("../images/clock_face.png");
  background-size: 100% 100%;
  position: absolute;
  height: 100%;
  width: 100%; }

#Clock #Hand {
  background: url("../images/clock_hand.png");
  background-size: 100% 100%;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg); }

#Clock #Hand.Rotate {
  -webkit-transform: rotate(375deg);
  transform: rotate(375deg);
  -webkit-transition: -webkit-transform 10s linear;
  transition: transform 10s linear; }

#Clock #Time {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 100%;
  line-height: 20px;
  font-size: 12px;
  text-align: center;
  color: #83bc3b; }

#Container.Selection {
  width: 800px;
  height: 430px; }

#Selection {
  opacity: 0;
  width: 0px;
  height: 0px;
  display: none; }

#Selection.Visible {
  display: block;
  width: 800px;
  height: 430px; }

#Selection #Title {
  height: 70px;
  width: 100%;
  position: absolute;
  text-align: center;
  font-family: "Muli", sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 36px;
  color: white;
  line-height: 70px; }

#Selection #Count {
  width: 200px;
  position: absolute;
  text-align: right;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  bottom: 0px;
  right: 10px;
  color: white; }

#Selection #Avatars {
  position: absolute;
  top: 70px;
  width: 100%;
  height: 330px; }

#Selection #Avatars .Avatar {
  position: relative;
  float: left;
  width: calc(100%/3);
  height: 100%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  cursor: pointer; }

#Selection #Avatars .Avatar.Gray {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  pointer-events: none; }

#Selection #Avatars .Avatar .Selected {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 7px solid #83bc3b;
  width: 100%;
  height: 100%;
  background-color: transparent;
  opacity: 0; }

#Selection #Avatars .Avatar .Selected:active {
  opacity: 1; }

#Selection #Avatars #A {
  background-image: url("../images/A.png"); }

#Selection #Avatars #B {
  background-image: url("../images/B.png"); }

#Selection #Avatars #C {
  background-image: url("../images/C.png"); }

#Container.Compatible {
  width: 800px;
  height: 500px; }

#Compatible {
  display: none;
  width: 0px;
  height: 0px;
  background-color: white;
  opacity: 0; }

#Compatible.Visible {
  display: block;
  width: 800px;
  height: 500px;
  background-color: white;
  opacity: 0; }

#Compatible #Title {
  position: absolute;
  text-align: center;
  font-family: "Muli", sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 36px;
  text-align: center;
  color: black;
  left: 0px;
  width: 100%;
  top: 10px; }

#Compatible #SubText {
  font-size: 15px;
  line-height: 16px;
  text-align: center;
  color: #999;
  position: absolute;
  left: 0px;
  width: 100%;
  top: 50px; }

#Compatible .Button {
  position: absolute;
  -webkit-transform: translate(-50%, 0%);
  left: 50%;
  bottom: 20px; }

#Container.Compatible #Playlist {
  width: 100%;
  height: 300px;
  position: absolute;
  top: 100px;
  left: 0px;
  background-color: black; }

#Container.Compatible #Playlist #Scroller {
  position: absolute;
  width: 70%;
  height: 100%;
  left: 30%;
  top: 0px; }

#Container.Compatible #Playlist #Scroller .Song {
  pointer-events: none; }

#Container.Compatible #Playlist #Songs #Artist {
  margin-left: 0px; }

#Container.Compatible #Playlist #PlayerLabels {
  top: 260px;
  left: 20px;
  position: absolute;
  width: 100%;
  height: 20px;
  opacity: 1;
  -webkit-transition: opacity .3s;
  transition: opacity .3s; }

#Compatible .Avatar {
  position: absolute;
  width: 150px;
  height: 150px;
  background-size: 150% auto;
  background-position: 61% 5%;
  z-index: 1000;
  border-radius: 50%; }

#Compatible #Avatar0 {
  top: 10px;
  left: 5px; }

#Compatible #Avatar1 {
  top: 115px;
  left: 65px; }

#Compatible .Avatar.A {
  background-image: url("../images/A.png"); }

#Compatible .Avatar.B {
  background-image: url("../images/B.png"); }

#Compatible .Avatar.C {
  background-image: url("../images/C.png"); }

#Compatible #Check {
  position: absolute;
  z-index: 1000;
  background-image: url("../images/checkbox.png");
  background-size: 100% 100%;
  width: 60px;
  height: 60px;
  top: 75px;
  left: 145px; }

/*=============================================================================
	INCOMPATIBLE
=============================================================================*/
#Container.Incompatible {
  width: 360px;
  height: 250px;
  background-color: white; }

#Incompatible {
  width: 360px;
  height: 250px;
  color: black;
  display: none; }

#Incompatible.Visible {
  width: 360px;
  height: 250px;
  color: black;
  display: block; }

#Incompatible #Title {
  position: absolute;
  text-align: center;
  font-family: "Muli", sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 36px;
  text-align: center;
  color: black;
  left: 0px;
  width: 100%;
  top: 20px; }

#Incompatible #SubText {
  font-size: 15px;
  line-height: 16px;
  text-align: center;
  color: #999;
  position: absolute;
  left: 10%;
  width: 80%;
  top: 75px;
  line-height: 20px; }

#Incompatible .Button {
  position: absolute;
  -webkit-transform: translate(-50%, 0%);
  left: 50%;
  bottom: 20px; }

body {
  margin: 0px;
  font-family: "Muli", sans-serif;
  background-image: url("../images/background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat; }

#Fragments {
  display: none; }
