$SelectionWidth : 800px;
$SelectionHeight : 430px;

#Container.Selection {
	width: $SelectionWidth;
	height: $SelectionHeight;
}

#Selection {
	opacity: 0;
	width: 0px;
	height: 0px;
	display: none;
}

#Selection.Visible {
	display: block;
	width: $SelectionWidth;
	height: $SelectionHeight;
}

$SelectionTitleHeight : 70px;

#Selection #Title {
	height: $SelectionTitleHeight;
	width: 100%;
	position: absolute;
	@include TitleText;
	color: $white;
	line-height: $SelectionTitleHeight;
}

#Selection #Count {
	width: 200px;
	position: absolute;
	text-align: right;
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	bottom: 0px;
	right: 10px;
	color: $white;
}

#Selection #Avatars {
	position: absolute;
	top: 70px;
	width: 100%;
	height: $SelectionHeight - $SelectionTitleHeight - 30px;
}

#Selection #Avatars .Avatar {
	position: relative;
	float: left;
	width: calc(100%/3);
	height: 100%;
	background-size: 100% auto;
	background-repeat: no-repeat;
	cursor: pointer;
}

#Selection #Avatars .Avatar.Gray {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	pointer-events: none;
}

#Selection #Avatars .Avatar .Selected {
	-webkit-box-sizing: border-box; box-sizing: border-box;
	border: 7px solid $green;
	width: 100%;
	height: 100%;
	background-color: transparent;
	opacity: 0;
}

#Selection #Avatars .Avatar .Selected:active {
	opacity: 1;
}



#Selection #Avatars #A {
	background-image: url("../images/GIF-ELIAH-2.gif");
}

#Selection #Avatars #B {
	background-image: url("../images/GIF-PAULIE.gif");
}

#Selection #Avatars #C {
	background-image: url("../images/GIF-MANOLO.gif");
}
